{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="title is-4">Se connecter</h1>
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes connectés en tant que
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}
			<div class="field">
				<label class="label" for="inputUsername">Username</label>
				<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="input form-control" required autofocus>
			</div>
			<div class="field">
				<label class="label" for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" class="input form-control" required>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="button is-link" type="submit">
				Se connecter
			</button>
		</form>

	</div>
{% endblock %}
